{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "describe": false,
    "it": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "opentable",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": "warn"
  }
}
